html {
    scroll-behavior: smooth;
}

img, a {
    height: inherit;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #352857;
}

body {
    font-family: "Roboto Mono";
    color: #352857;
    margin: 0;
}

h1 {
    margin: 0;
    font-weight: 300;
    font-size: 55px;
}

#typewriter {
    margin: 0;
    font-weight: 300;
    font-size: 55px;
}

h2 {
    margin: 0;
    font-weight: 400;
    font-size: 36px;
}

h3 {
    font-size: 24px;
    font-weight: 300;
}

h4 {
    font-size: 14px;
    margin: 0;
}

p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}


.header {
    height: 64px;
    width: 90%;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.header-img {
    height: 100%;
}

.header-links {
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#gradient {
    background: linear-gradient(180deg, #FDE2E4 85%, rgba(253, 226, 228, 0) 100%);
    display: flex;
    justify-content: center;
}

.top-section {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 580px;
    max-width: 90%;
    padding-bottom: 60px;
    padding-top: 90px;
}

#me-img {
    background: #FFFFFF;
    border-radius: 30px;
    height: 250px;
    width: 285px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
}

#work, #experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin: 40px 20px;
}

#projects-grid {
    display: flex;
    justify-content: center;
    max-width: 900px;
    flex-wrap: wrap
}

.card {
    height: 333px;
    width: 380px;
    border: 4px solid #FDE2E4;
    box-shadow: 4px 4px 5px #FDE2E4;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    justify-content: center;
}

.card > img {
    max-height: 70%;
    height: auto;
    max-width: 90%;
    width: auto;
    border-radius: 30px;
    margin-top: 25px;
}

.large-card {
    border: 4px solid #FDE2E4;
    box-shadow: 4px 4px 5px #fde2e4;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    max-width: 762px;
    padding: 10px 50px;
    margin: 25px 0;
    align-items: center;
}

.exp {
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exp > img {
    width: 300px;
    padding: 10px;
}

.exp-text {
    max-width: 388px;
    margin-top: 10px;
}

.skill-cards {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: space-between;
}

.skill-card {
    border: 4px solid #FFE3BB;
    border-radius: 30px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding: 5px 10px;
    margin: 0 10px;
    width: fit-content;
}

#footer {
    height: 300px;
    background: linear-gradient(180deg, rgba(253, 226, 228, 0) 0%, #FDE2E4 29%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.footer-links {
    width: 120px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

/* @media only screen and (max-width:980px) {
    #projects-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .large-card {
        padding: 20px;
        width: 380px;
        height: fit-content;
    }
    .exp {
        grid-template-columns: 1fr;
    }
    .exp > img {
        margin: auto;
    }
    .exp-text {
        margin: 10px 0;
    }
    .exp-text > h2, .exp-text > h3 {
        text-align: center;
    }
} */